.box {
  border: 1em solid rgb(100, 76, 10);
  background-color: rgb(210, 177, 46);
  width: 30%;
  margin: 1.5em;
  border-radius: 7em;
  overflow: auto;
}

.box-title {
  background-color: rgb(250, 220, 175);
  border-top-left-radius: 6em;
  border-top-right-radius: 6em;
}

.box-item{
  
}

.box h2 {
  text-align: center;
  font-size: 12em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.item {
  background-color: rgb(217, 195, 105);
  padding: 7em;
  
  margin: 10em;
  border-radius: 20em;
}

.item p {
  font-size: 9em;
}

.item-number{
  font-size: 1.2em;
}

.item button {
  font-size: 6.5em;
}

.item-buttons {
  display: flex;
  justify-content: center;
  gap: 2em;
}